body{
    text-align: center;
}
#link1, #link2{
    display: block; 
    color:brown;   
}
p{
    width: 300px;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    
    width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
